body {
  min-width: 750px;
}

h1 {
  margin: 1rem;
  text-align: center;
  color: #333;
}

form {
  margin: 2rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

button {
  background-color: #007bff; /* Color de fondo azul */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  color: white; /* Texto blanco */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambiar cursor a puntero */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */

  &:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de agrandamiento */
  }

  &:active {
    background-color: #003f7f; /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Efecto de reducción */
  }
}
