body {
  margin: 20px;
}

form {
  margin-bottom: 20px;
}

#preview-container {
  display: grid;
  place-items: center;
}

#vista-previa-container {
  border: 1px solid black;
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 1rem;
}

#vista-previa {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
}

.draggable {
  position: absolute;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px dashed black;
  cursor: move;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#texto-nombre {
  top: 40%;
  font-size: 2rem;
  width: 80%;
}

#texto-rol {
  top: 75%;
  font-size: 1.5rem;
  width: 70%;
}

#controls {
  margin: 1rem;
  display: flex;
}

.control {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
}
